body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-img{
    background-image: url("../img/bg.jpg");
    filter: blur(5px);
    webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo{
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
}

label{
    font-family: 'Arial', Courier, monospace;
    color: #124064;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

form{
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
    margin: 30vh auto auto auto;
    padding: 30px 40px;
    max-width: 50vw;
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    flex-direction: column;
    justify-content: space-evenly;
    /* opacity: 70%; */
}

input{
    width: 100%;
    min-width: 100px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 15px;
}

button{
    display: block;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    color: white;
    background-color: #2878b5;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    place-self: center center;
    margin-top: 10px;
    cursor: pointer;
}
