<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    <div class="bg-img"></div>
    
    <form>
        <img src="../static/img/logo.svg" alt="logo" class="logo">
        <div>
            <label>ID</label>
            <input id="username" placeholder="1234"></input>
        </div>
        <div>
            <label>Senha</label>
            <input type="password" id="password" placeholder="******"></input>
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>
    </form>

    <script src="../static/js/login.js"></script>
</body>
</html>