@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: neue-machina-ultra-bold;
    src: url('../fonts/neue-machina-ultrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --text-color: white;
    --title-color: #34B8ED;
    --actived-color: #d6536E;
    --secundary-color: #5B64BF;
    --color: #F7556D;
}


*{
    padding: 0;
    margin: 0;
    color: #5B64BF;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: black;
}

header{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(to top, #5B64BF, black, black);

}

.logo_pagina{
    height: 100%;
    padding: 40vh 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_pagina img{
    flex-direction: column;
    max-width: 80px;
    align-items: center;
    mix-blend-mode: normal;
}

.logo_pagina #o{
    font-size: 0.7rem;
    color: inherit;
}

.dio_color{
    font-family: neue-machina-ultra-bold;
    font-size: 1rem;
    text-transform: LOWERcase;
    color: transparent;
    background-image: linear-gradient(to right , #34B8ED, #5B64BF, #F7556D,  #d6536E);
    -webkit-background-clip: text;
}

.logo_text{
    margin: -0.4rem 0 0 0;
    text-align: center;
    z-index: 1;
    font-size: 1rem;
    height: auto;
    position: relative;
}

#top_menu{
    background-color: #5B64BF;
    position: sticky;
    top:0;
    z-index: 10;
    padding: .5rem 0 1rem 0;
}

.menu{
    padding: 01vh 5vw;
    height: 100%;
    justify-self: flex-end;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: neue-machina-ultra-bold, Courier, monospace;
}

.menu .menu_itens{
    list-style-type: none;
    justify-content: space-between;
    color: var(--secundary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 3.5vw;
}

.menu .menu_itens :active{
    list-style-type: none;
    padding: 0;
    text-decoration: underline solid  1px;
    color: var(--actived-color);
    cursor: pointer;
}


.titulo_sombreado{
    margin-top: 1rem;
    font-family: roboto;
    font-size: 1rem;
    text-transform: lowercase;
    color: white;
    text-shadow: 2px 2px 2px gray;
    -webkit-background-clip: text;
    text-align: right;
}


#img_fundo_santander{
    width: 100%;
    height: 33vh;
    background-image: url('../img/santander.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: 0.5;
}

.title_in_img{
    display: block;
    width: 10rem;
    padding-left: 2rem;
    position: relative;
    top: -20vh;
    /* top:50px; */
    color: white;
    z-index: 2;
    font-family: neue-machina-ultra-bold, Courier, monospace;
    text-shadow: #34B8ED 3px 3px ;
}

h3, h4, h5{
    color: white;
    padding-bottom:1rem;
    text-shadow: 0 0 .5rem #34B8ED;

}

h3{
    text-decoration: underline solid 1px #34B8ED;
    text-underline-offset: 0.65rem;
}

h5{
    padding-bottom:.25rem;
}

p{
    color: #34B8ED;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
    text-align: justify;
}

section.sessao{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 10vh;
    border-bottom: solid #5B64BF 1px;

}


section.subsessao{
    background-color: rgb(255, 255, 255, 0.15);
    border-radius: 5vw;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.subsessao-body{
    padding: 0 1rem 1rem 1rem;
}

#img_fundo_projetos{
    width: 100%;
    height: 33vh;
    background-image: url('../img/projetos.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    opacity: 0.5;
}

.desafioEntrega{
    cursor: pointer;
}

a.embed{
    display: inline-block;
    width: 100%;
    padding: .25rem;
    padding-bottom: 0;
    border-radius: 1rem;
    border-image-outset: 2rem;
    background-color: white;
    margin-bottom: 1rem;
}

embed{
    width: 100%;
    background-color: white;
    pointer-events:none;
    border-radius: 1rem;
    padding: .5rem;
    border: 4px dashed #34B8ED;
    height: 45vh;
}

.multiline{
    white-space-collapse: preserve;
}

code{
    border-radius: 1rem;
    font-family: monospace;
    color: yellow;
    padding: 1rem;
    display: block;
    white-space-collapse: preserve;
    background-color: black;
    max-height: 45vh;
    overflow: auto;
}