@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: 'Roboto', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: dimgrey;
}

#paper{
    margin: auto;
    width: 21cm;
    height: 29.7cm;
    display: flex;
    box-shadow: -5px 0 10px black, 5px 0 10px black;
    background-image: url('https://unblast.com/wp-content/uploads/2022/01/Paper-Texture-3-1024x768.jpg');
    background-size: cover;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}



aside{
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 35%;
    mix-blend-mode: multiply;
}

#profile-pic{
    box-sizing: border-box;
    align-self: center;
    width: 100%;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

#profile-white-circle{
    width: 100%;
    box-sizing: content-box;
    justify-self: center;
    border-radius: 50%;
    border: 6px solid white;
    z-index: 2;
}

#my-info{
    height: 100%;
    width: 100%;
    margin-top: -120px;
    padding: 145px 35px 0 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(rgb(2, 27, 56), rgb(19, 84, 158));
    z-index: 1;
}

aside section{
    margin-top: 40px;
}

aside h2{
    width: 250px;
    position: relative;
    right: 50px;
    padding: 3px 0 3px 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(4, 46, 95);
    background-color:lightblue;
    border-radius: 25px 50px 0 25px;

}

aside h2 i{
    margin-right: 5px;
}


aside p{
    font-size: 12px;
    font-weight: normal;
    font-family: 'Raleway', Courier, monospace;
    text-align: justify;
    color: lightblue;
}

li{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 3px;
    font-weight: normal;
    font-family: 'Raleway', Courier, monospace;
    text-align: justify;
    color: lightblue;
}

aside ul li{
    display: grid;
    grid-template-columns: 15px 170px;
    column-gap: 17px;
}

aside ul li span, aside ul li a, #sobre-mim{
    text-shadow:
     0px 0px 1px black,
}

a{
    cursor: pointer;
    color: inherit;
}

a:hover{
    color: white;
}


h1, h1 span{
    font-size: 70px;
    color: transparent;
    -webkit-background-clip: text;
    line-height: 60px;
    font-weight: bold;
}

.name__container{
    position: relative;
    left: -15px;
    margin: 155px 0 70px -10px;
}

#n1{
    background-image: linear-gradient(90deg, rgb(2, 27, 56),#0C4280);
    position: relative;
    bottom: 10px;
}
#n2{
    color: #0C4280;
    position: absolute;
    top: -28px;
    font-size: 20px;
    left: 197px;
}
#n3{
    color: #0C4280;
    position: absolute;
    left: 130px;
    top: 27px;
    font-size: 20px;    
}
#n4{
    background-image: linear-gradient(90deg,#0C4280, rgb(19, 84, 158));
    position: absolute;
    top: 10px;
    left: 190px;
}


main{
    margin-left: 10px;
    width: 65%;
    margin-left: 35px;
    color: rgb(19, 84, 158);
}


main section{
    margin-bottom: 50px;
    color:  rgb(19, 84, 158);
}

main section h2{
    font-size: 30px;
    color: #0C4280;
    margin-bottom: 10px;
    font-family: 'Roboto', Courier, monospace;
}

i{
    align-self: center;
}

main section h2 i{
    margin-right: 20px;
}

main section ul li h3{
    font-size: 16px;
}

main section ul li{
    display: grid;
    grid-template-columns: 20px 1fr;
    column-gap: 20px;
    font-size: 16px;
    margin-left: 15px;
    color:  rgb(19, 84, 158);
    margin-bottom: 10px;
}

main section ul li div{
    font-family: 'Raleway', Courier, monospace;
    font-size: 12px;
    color:  rgb(19, 84, 158);
}



span.empresa{
    font-weight: bold;
}

.tipo{
    font-weight: 700;
}

.hover:hover , .hover div:hover{
    text-shadow: 1px 1px 10px rgb(19, 84, 158);
    cursor: pointer;
}

.debug{
    border: 2px solid red;
}


@media print{
    #paper{
        background-color: white;
        background-image: none;
    }
    
    #n1, #n4{
        color: #0C4280;
    }


    

} 